:root {
  --colors:#38598b;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font :"poppins", sans-serif;;
  --back-color :#e7eaf6;
}
.back {
  text-align: center;
}
h1 {
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.header {
  text-align: center;
  font-size: 25px;
  padding: 30px;
}
.hi {
  font-size: 36px;
  text-align: center;
  font-family: var(--font);
  font-weight: bold;;

}
.name {
  text-align: center;
  font-size: 96px;
  font-family:"playfair Display", serif;
 
}
.last {
  text-align: center;
  font-size: 30px;
  font-family: var(--font);
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--colors);
  box-shadow: var(--box-shadow);

  color: white;
}

.about-link {
  background-color: var(--colors);
  color: #d7d7df;
  border: 1px solid 0 5px 10px rgba(0, 0, 0, 0.938);
}
.launch-btn {
  border-radius: 4px;
  margin-top: 100px;
  margin-bottom: 100px !important;
  padding: 20px 15px;

  text-decoration: none;
}
.item1 {
  background: var(--secondary-color);
  border-radius: 4px;
  font-family: var(--font);
}

.item1-description > * {
  text-align: left;
  padding-top: 20px;
  font-family: var(--font);
}

.intro-project-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  padding-bottom: 9px;
}
.hero{
  background-color: var(--back-color);
  text-align: center;
  padding: 160px 20px;
  
}
.about-section h2{
  font-size: 64px;
  font-family: var(--font);
  line-height: 80px;
}
.about-section p{
  font-size: 18px;
  
}
.about-section{
  margin: 40px 40px;
  padding: 50px;
}
.contact{
  font-size: 50px;
}
.content{
  padding: 60px;
  background-color:var(--back-color)
  
}
.btn-primary{
  background-color: var(--colors);
}
.social-links a {
    margin: 0 20px;
    color: var(--back-color);
    background: var(--colors);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;}
    .navbar-nav{
      background-color: var(--back-color)
    }

